.form_item {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  background-color: #fff;
  // border: 0.4px solid #e5e5e5;
  border-bottom: 0.4px solid #cecece83;
}

.form_content {
  display: flex;
}

.form_label {
  width: 168px;
}

.form_input {
  margin-top: 4px;
}

.error {
  color: #fa5151;
}

.error_icon {
  width: 48px;
  height: 48px;
}

.icon {
  width: 48px;
  height: 48px;
}




// .form {
//   position: relative;
//   display: flex;
//   align-items: center;
//   padding-left: 32px;
//   height: 112px;
//   // background-color: $color-white;

//   .at-icon {
//     // 前缀图标
//     margin-right: 24px;
//   }

//   .necessary {

//     // 是否显示红*
//     &:after {
//       content: "*";
//       // color: $color-red;
//     }
//   }

//   .label {
//     // 标题名称
//     font-size: 32px;
//     // color: $color-black;
//   }

//   .formTip {
//     // 提示红字
//     // color: $color-red;
//     position: absolute;
//     right: 66px;
//     bottom: 5px;
//   }

//   .hasline {
//     border-bottom: 1px solid #f0f0f0;
//   }

//   .trace-rowAlignCenter {
//     height: 100%;

//     .at-input {
//       // background-color: $color-white;

//       &:after {
//         display: none;
//       }

//       .at-input__input {
//         // placeholder
//         font-size: 32px;
//         text-align: right;
//         // color: $color-text-b3;
//         font-weight: 400;
//         padding-right: 8px;
//       }
//     }

//     .at-icon {
//       // 后缀图标
//       margin-right: 14px;

//       &:before {
//         // color: $color-text-9;
//       }
//     }

//     .perch {
//       // 占位后缀图标
//       opacity: 0;
//     }
//   }
// }
