.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results_box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.title {
  // font-size: 24px;
  // text-align: center;
}

.subTitle {
  font-size: 28px;
  color: #7b7b7b;
  padding: 0 40px;
  // text-align: center;
}

.button_box {}

.success_button {
  width: 360px;
}
