.info_item {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  padding-right: 24px;
  // margin: 0 24px;
  margin-left: 24px;
  font-size: 32px;

  // margin-left: 32px;
  background-color: #fff;
}




.item_left {
  display: flex;
  position: relative;
  padding-right: 32px;
  // padding-left: 4px;
}


.icon_left {
  margin-right: 16px;

  width: 48px;
  height: 48px;
}

.badge {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.time_pay {
  font-size: 24px;
  color: #7f7f7f;
  padding: 8px 0;

}

.item_right {
  padding-right: 30px;
}

.icon_right {
  width: 48px;
  height: 48px;
}

.icon {
  width: 48px;
  height: 48px;
}

.right_text {
  color: #7f7f7f;
}
