.infoItem {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  padding-right: 24px;
  margin-left: 24px;
  font-size: 32px;
  background-color: #fff;
}




.itemLeft {
  display: flex;
  position: relative;
  padding-right: 32px;
  // padding-left: 4px;
}


.iconLeft {
  margin-right: 16px;

  width: 48px;
  height: 48px;
}

.badge {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.timePay {
  font-size: 24px;
  color: #7f7f7f;
  padding: 8px 0;

}

.itemRight {
  padding-right: 30px;
}

.rightText {
  color: #7f7f7f;
}

.iconRight {
  width: 48px;
  height: 48px;
}

.icon {
  width: 48px;
  height: 48px;
}
