.page {
  position: relative;
  height: 100vh;
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}
.footer_box {
  width: 100%;
  padding: 32px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.font_bord {
  font-weight: bold;
}
.button {
  width: 160px;
}
