.page {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-size: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact {
  position: fixed;
  bottom: 100px;
  width: calc(100% - 96px);
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid #0d8bcc;
}
