.page {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 96px);
  // background-color: #fff;
}
