.page {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-size: 100%;

  :global {
    .van-cell-group--inset {
      margin: 0;
    }

    .van-cell__left-icon {
      width: 96px;
      height: 96px;
    }
  }
}