.page {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-size: 100%;
  padding: 32px 0;
  background: #f6f6f6;
}
.mb32 {
  margin-bottom: 32px;
}
.iconstyle :global .van-cell__right-icon {
  display: none;
}
