.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f7f7;
}

/*  #ifdef  h5  */
html body {
  taro-view-core {
    line-height: 1;
  }
}
/*  #endif  */

.van-ellipsis {
  .van-cell__value {
    text-overflow: ellipsis;
  }
}
